body {
	width : 960px;
	margin : auto;
	background-color : white;
	border : 2px solid black;
}

header, footer {
	background-color : rgba(255,0,0,0.5);
}

hr {
	margin : auto; /* remove whitespace around the ruler */
}

main {
	display : flex;
}

#presetContainer {
	background-color : rgba(0,255,0,0.5);
	flex : 1;
}

#displayContainer {
	position : relative;
	width : 510px;
	height : 454px;	
}

#sliderContainer {
	flex : 1;
	
	position : relative;
}

#configContainer {
	background-color : rgba(255,255,0,0.5);
	/*flex : 1;*/
	
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	z-index : 2;
}

#formContainer {
	background-color : rgba(0,255,255,0.5);
	
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	z-index : 1;
}
              
#backgroundLayer {
	position : absolute;
	width : 510px;
	height : 454px;
	z-index : 1;
}

#imageLayer {
	position : absolute;
	top : 0px;
	left : 0px;
	z-index : 2;
}

#logoLayer {
	position : absolute;
	top : 110px;
	left : 300px;
	z-index : 3;
}

#textLayer {
	position : absolute;
	top : 170px;
	left : 155px;
	width : 200px;
	height : 100px;
	z-index : 4;
	text-align : center;
	word-wrap : break-word;
}

#textDisplay {
	display : block;
	/*color : white;*/
	font : bold italic 25px Helvetica;
	/*background-color : rgba(0,0,0,0.1);*/
	/*padding : 5px;*/
}

#canvasLayer {
	position : absolute;
	top : 0px;
	left : 0px;
	width : 510px;
	height : 454px;
	z-index : 5;
}

#colorContainer {
	display : block;
}

#colorChooser, #colorPalette {
	display : flex;
	padding : 5px;
}

#colorPalette {
	flex-flow : row wrap;
	width : 130px;
	border : 1px solid black;
}

.colorBox {
	width : 20px;
	height : 20px;
	border : 1px solid black;
	margin : 2px;
	text-align : center;
}

#colorBox1 {
	background-color : white;
}

#colorWhite {
	background-color : white; 
}
#colorBlack {
	background-color : black;
}
#colorRed {
	background-color : red;
}
#colorGreen {
	background-color : green;
}
#colorBlue {
	background-color : blue;
}
#colorGrey {
	background-color : grey;
}
#colorYellow {
	background-color : yellow;
}
#colorPurple {
	background-color : purple;
}
#colorOrange {
	background-color : orange;
}
#colorPink {
	background-color : pink;
}

#btnResetColors {
	height : 22px;
	width : 40px;
	margin : 2px;
	text-align : center;
}


@media screen and (max-width : 960px) {
	body {
		width : auto;
	}
}

@media screen and (max-width : 700px) {
	main {
		flex-flow : row wrap;
	}
	#presetContainer {
		min-width : 700px;
	}
	#displayContainer {
		flex : 1;
		min-width : 510px;
	}
	#configContainer {
		min-width : 200px;
	}
	#tshirt {
		display : block;
		margin : auto;
	}
}
